.banner {
  align-items: center;
  background: var(--primary-main);
  box-sizing: border-box;
  color: white;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
}
