:root {
  --primary-main: #201d3c;
  --primary-light: #595486;
  --primary-lighter: #c0bae6;

  --secondary-main: #82ff9d;
  --secondary-light: #b7fdb4;

  --grey-50: #fafafa;
  --grey-100: #f4f4f5;
  --grey-200: #e4e4e7;
  --grey-300: #d4d4d8;
  --grey-400: #a1a1aa;
  --grey-500: #71717a;
  --grey-600: #52525b;
  --grey-700: #3f3f46;
  --grey-800: #27272a;
  --grey-900: #18181b;

  --base-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
}
